
html, body {
  height: 100%;
  font-family: $font-family-mgpe-mono;
  overflow: hidden;
  margin: 0;
  padding: 0;
}


.container-fluid > .row > #sidebar > app-navbar {
  position: absolute;
}

.container-fluid.normal > .row > #sidebar > app-navbar-stashed > .navbar-stashed {
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms, visibility 400ms;

}

.container-fluid.stashed > .row > #sidebar > app-navbar-stashed > .navbar-stashed  {
  visibility: visible;
  opacity: 1;
  transition: opacity 300ms, visibility 100ms;

}

.container-fluid.stashed > .row > #sidebar > app-navbar-stashed {
  .mat-expansion-panel-header {
    padding: 0 24px !important;
  }

  .mat-expansion-panel-body > a {
    display: flex;
    justify-content: center;
  }

  .navbar-stashed > app-profile {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1.5em;

    > div {
      color: #fff;
      margin-bottom: 10px;
    }

    > .hamburger {
      padding: 0;
    }
  }
}




#content {
  min-height: 100%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background: $mp-light-blue-0;
}


#sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  overflow: visible;
  overflow-y: auto;
  background: $mp-gray-0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

  &::-webkit-scrollbar {
    width: .3em;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    outline: 1px solid slategrey;
  }

  app-logo {
    background: $mp-dark-gray-linear-gradient;

    i {
      color: $mp-offwhite;
      padding: 0;
      margin: 0 auto;
      font-size: 12em;
      text-align: center;
      text-decoration: none;
      text-shadow: $text-shadow-light;
      display: block;
    }

    .icon-logo-mprj {
      margin-top: 20px;
      line-height: 20px;
    }

    .icon-logo-mgpe {
      margin-top: 20px;
      text-shadow: none;
    }

    p {
      color: $mp-offwhite;
      padding: 5% 15%;
      margin-top: 2em;
      text-align: center;
      line-height: 1.2em;
    }

    app-profile {
      width: 100%;
      margin-top: 2.5em;
      padding: 7px;
      display: flex;
      justify-content: space-between;

      .hamburger {
        padding: 0;
      }

      .hamburger, .notification {
        button {
          color: white;
        }
      }
    }

    .container-fluid.stashed app-profile {
      margin-top: 2.5em;
    }
  }


  app-navbar > div > app-menu, app-navbar-stashed {
    background: $mp-gray-0;
    background: $mp-dark-gray-linear-gradient;
    min-width: 100%;

    .mat-expansion-panel a i {
      margin-right: .3em;
    }

    .mat-expansion-panel a mat-icon {
      margin-right: .3em;
    }

    .mat-expansion-panel:nth-child(3) {
      background: $mp-soft-blue-1;
    }

    .mat-expansion-panel {
      background: $mp-gray-0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    .mat-expansion-panel,
    .mat-expansion-panel-header-title {
      color: $mp-soft-blue-0 !important;
    }

    .mat-expansion-indicator::after {
      color: $mp-soft-blue-1 !important;
    }

    .mat-expansion-panel-spacing {
      margin: 0 !important;
    }

    .mat-expansion-panel-body {
      padding: 0 !important;
      background: rgba(0, 0, 0, 0.3);

      > a {
        width: 100%;
        display: block;
        margin: 1px 0 0;
        padding: 9px 0 9px 7px;
        color: $mp-soft-blue-1;
        text-shadow: 1px 1px rgba(0, 0, 0, .3);
        border-bottom: 1px solid rgba(255, 255, 255, .1);
        text-decoration: none;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: .85em;
        transition: .3s;

        &:hover {
          color: rgba(255, 255, 255, 1);
          text-decoration: none;
          transform: translatex(3px);
          text-shadow: none;
        }
      }
    }

    .mat-expansion-panel-header {
      padding: 14px !important;
    }

    .mat-expansion-panel-header-title span {
      line-height: 2em;
      text-indent: 7px;
    }

    .mat-tab-group.mat-primary .mat-ink-bar {
      background: $mp-offwhite;
    }

    .mat-tab-label {
      color: rgba(255, 255, 255, 0.87) !important;
    }
  }
}


